* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.top-container {
  width: 200px;
  height: 200px;
  background-color: #e7f3f5;
  border: 10px solid;
  padding: 20px;
}
.middle-container {
  width: 200px;
  height: 200px;
  margin-left: 200px;
  border: 20px solid;
  background-color: red;
}
.bottom-container {
  width: 200px;
  height: 200px;
  border: 10px solid;
  margin-left: 400px;
  background-color: yellow;
}
